@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
}
:root {
  --font_clr: #ffffff;
}
body {

  background-color: black;
  min-height: 100vh;

}
.icon{
  font-size: 10px;
  margin-top: 5px;
}


.container{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  
}
.infinite-scroll-component{
  /* margin-top: 80px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

hr{
  border: 1px solid #27272a;
margin: 5px 0;
}
.card{
  width: 100%;
  border: 1px solid #27272a;
  border-radius: 5px;
  background-color: black;
  color: #d5d5e3;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.quote{
  cursor: text;
  font-family: "Anek Devanagari", sans-serif;

}
.type{
  margin-bottom: 5px;
  color: white;
  padding-bottom: 8px;
  z-index: 1;
 font-weight: bold;
}


footer{
  background-color: #27272a;
  position: sticky;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
  padding: 20px;
  color: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#beta{
  padding: 1px 5px;
  background-color: #dddeff;
  border-radius: 10px;
  color: #2e2eff;
}


